/*media queries*/

@media screen and (max-width:1100px) {

    /*regras css*/
    .plans-container {
        width: 95%;
    }

    .plan-card {
        margin-left: 5px;
        margin-right: 5px;
    }

}


@media screen and (max-width:900px) {

    /*regras css*/
    .plans-container,
    .specialties-container ul {
        flex-wrap: wrap;
    }
    .logo{
        display: none;
    }

}

@media screen and (max-width:576px) {

    /*eliminar os espaços em branco no eixo x*/
    /* html,
    body {
        overflow-x: hidden;
    } */

    
    .navbar-itens li {
        font-size: 12px;
        margin-left: 10px;

    }

    .plan-card {
        width: 100%;
        max-width: 100%;
    }

    .searchdomain-container,
    .contact-container {
        padding: 3em 2em;
    }

    .container .searchdomain-container input {
        width: 100%;
        box-sizing: border-box;
    }


    .contact-container input,
    .contact-container textarea {
        width: 100%;
        box-sizing: border-box;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }



}